<div class="container main-text">
  <p>
    Handlebars.js is one of the most popular JavaScript templating engines that builds on top of the Mustache templating engine. A template engine is basically software that is designed to combine templates with data in order to generate HTML. Handlebars can be used for both client-side and server-side rendering.
  </p>
  <p>
    Handlebars templates are reusable and look like regular HTML with embedded placeholders that can "hold" data. It is generally good practice to separate the view (presentation/ aesthetics) and the model (actual data), as this encourages clean code organisation.
  </p>
  <p>
    hapi has extensive support for template rendering and can load and leverage Handlebars.js with the full use of layouts (i.e. templates), partials (smaller templates within templates) and helpers (functions used in templates to manipulate data) to ultimately render views.
  </p>
</div>